/*===========================================================================================
	BANNER
===========================================================================================*/
.banner { position: relative; }
.banner {
	.slides .slide { position: relative; }
	.slides .slide {
		.text {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
		.content {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: 0;
			text-align: center;
			width: 100%;
			@include inline_block;
		}
		.content .container { max-width: 700px; }
	}
}